.container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 350px));

justify-content: center;
   grid-gap: 2rem;
   
}
.smcard{
    color: red;
    border: 1px solid black;
    width: 250px;
    height: 250px;
    margin: 2rem;
}